<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    />
    {# Run `composer require symfony/webpack-encore-bundle` to start using
    Symfony UX #} {% block stylesheets %}
    <link rel="stylesheets" href="../public/css/Fichier CSS P1.css" />
    <link rel="stylesheets" href="https://bootswatch.com/5/vapor/bootstrap.min.css"/>
    {% endblock %} {% block javascripts %}
    {{
      encore_entry_script_tags("app")
    }}
    {% endblock %}
  </head>
  <body>
    <div class="menu">
      <nav>
        <h2 class="logo">E-portfo <span>lio</span></h2>
        <ul>
          <li><a href="#">Acceuil</a></li>
          <li><a href="/Cv">Cv</a></li>
          <li><a href="/portfolio">Portfolio </a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <a href="#aboutSection" class="btn" id="enSavoirPlusBtn"
          >En savoir plus
        </a>
        <label id="icon">
          <i class="fas fa-bars"></i>
        </label>
      </nav>
    </div>

    <div class="container">{% block body %}{% endblock %}</div>
    <style>.menu
      {
      
          height: 100vh;
          width:100%;
          background-color:;
          background-image: url(image.jpg);
           background-position: center;
          background-size: cover;
      }
      *{
       padding: 0;
       margin: 0;
       font-family: 'Josefin Sans' ,sans-serif;
       box-sizing: border-box;
       background-color: ;
      
      
      }
      nav
      {
      
          display:flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 45px;
          padding-left: 8%;
          padding-right: 8%;
      }
      nav ul li
      {
      list-style-type: none;
      display: inline-block;
      padding: 10px 15px ;
      }
      nav ul li a
      {
       color:rgba(174, 41, 174, 0.8) ;
       text-decoration:  none;
      text-transform: capitalize;
      
      }
      nav ul li  a:hover
      { color:  #fd04a27e;
      
      }
      
      
      .logo
      {
          color:;
          font-size: 35px;
          letter-spacing: 0.01px;
          cursor: pointer;
          transition: 4s;
      
      }
      span
      {
      color:rgba(174, 41, 174, 0.8);
      text-decoration:  none;
      text-transform: capitalize;
      
      }
      .btn
      {
       color: white;
       background-color:rgba(174, 41, 174, 0.8);
       text-decoration: none;
       border: 2px solid transparent;
       font-weight: bold;
       padding: 5px 10px ;
       border-radius: 15px ;
       transition: transform .4s;
       position: relative;
       left: 10%;
       box-shadow:  0px 0px 5px #000,0px 0px 15px #858585;
      
      }
      .btncv
      {
          color: white;
          background-color:rgba(174, 41, 174, 0.8);
          text-decoration: none;
          border: 2px solid transparent;
          font-weight: bold;
          padding: 5px 10px ;
          border-radius: 15px ;
          transition: transform .4s;
          position: relative;
          left:85%;
          top: -2%;
          box-shadow:  0px 0px 5px #000,0px 0px 15px #858585;  
          
      }
      
      .btncv:hover {
          background-color: #f700f7; /* Couleur différente au survol */
          color: #ffffff; /* Couleur du texte différente au survol */
          cursor: pointer; /* Curseur de type main au survol pour indiquer que c'est cliquable */
          /* Autres styles au survol si nécessaire */
        }
        
      .about img
      {
          width: 450px;
          height: auto;
          border-radius: 50%;
      
      }
      .content
      {
          position: absolute;
          top: 40%;
          left: 23%;
          transform: translate(-50%);
        background-color: ;
      
      }
      h1{
          color: rgba(174, 41, 174, 0.8);
       margin: 20px 0px 5px;
       font-size: 50px;
       font-family:Georgia, 'Times New Roman', Times, serif;
      }
      h3{
       font-size: 25px;
       margin-bottom: 20px;
      
      }
      h4{
      
           color: black;
           letter-spacing: 1px;
           font-size: 20px;
      
      }
      .newslatter form
      {
       width: 380px;
       max-width: 100%;
       position: relative;
      
      }
      .newslatter  form input:first-child{
      display: inline-block;
      width: 100%;
      padding: 14px 130px 14px 15px;
      border: 2px solid rgba(174, 41, 174, 0.8);
      outline: none;
      border-radius: 30px;
      }
      .newslatter  form input:last-child{
       position: absolute;
       display: inline-block;
       outline: none;
       border: none;
       padding: 15px 30px;
       border-radius: 30px;
       background-color: rgba(174, 41, 174, 0.8);
       color: aliceblue;
      box-shadow:  0px 0px 5px #000,0px 0px 15px #858585;
      
      }
      
      
      
      
      
      .about
      {
          width:auto;
          height:auto;
          padding: 100px 5px;
          background-color:#e4e4eb;
      
      }
      
      .about-text
      {
          width: 600px;
          position: absolute;
          left: 50%;
          margin-left: 5%;
          font-style: italic;
      }
      
      .about img {
          width: 40%;
          height: auto;
          border-radius: 50%;
      
      }
      /*.about {
          width: 100%;
          padding: 100px 5px;
          display: inline-block;
          align-items: center;
      }
      
      .about-text {
          margin-left: 2px; /* Ajoutez une marge à gauche pour l'espace entre l'image et le texte
          font-family: 'kalnia', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          color: rgba(204, 194, 194, 0.71);
          width: 75%;
      }
      
      .about img {
          width: 30%;
          height: auto;
          border-radius: 50%;
      }*/
      
      .main
      {  width: 1130px;
          max-width: 100%;
          max-height: 100%;
          display:flex;
          align-items: center;
          justify-content: space-around;
          margin: 25 auto;
      
      
      }
      
      .about-text h2{
          color: rgba(174, 41, 174, 0.8);
          font-family: 'lucida calibria';
          margin-bottom: 8px;
          margin-top: 2%;
      
      }
      
      .derniere
      {
          background-image: url(#);
      }
      
      .tout
      {
      background-color:#e4e4eb;
      width: 100%;
      padding-top: 15px 0px;
      padding-bottom: 100px;
      }
      .box
      {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 400px;
      }
      .card
      {
      height: 300px;
      width: 335px;
      padding: 20px 35px;
      background:#e4e4eb;
      border:solid;
      border-color: rgb(182, 172, 160);
      box-shadow:0 4px 8px rgba(174, 41, 174, 0.8) ;
      border-radius: 20px;
      margin: 25px;
      position: relative;
      overflow: hidden;
      text-align: center;
      
      }
      .card h2{
      color: rgba(174, 41, 174, 0.8);
      }
      .card img {
          width: 250px;
          height: auto;
          border-radius: 55%;
          border: 2%;
          border-color: antiquewhite;
        }
      
      
      
      #bouton
      {
      
          color: rgb(181, 153, 153);
          background-color:rgba(174, 41, 174, 0.8);
          text-decoration: none;
          border: 2px solid transparent;
          font-weight: bold;
          padding: 5px 5px ;
          border-radius: 10px ;
          transition: transform .4s;
          position: relative;
          left: 2%;
          box-shadow:  0px 0px 5px #000,0px 0px 15px #858585;
      }
      
      
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
        }
    
        #cv-container {
          display: flex;
          max-width: 98%;
          min-height: 100vh;
          margin: 50px auto;
          background-color: #f9f9ff;
        }
    
        #left-section {
          flex: 2;
          padding: 20px;
          border-right: 2px solid #aeb09e;
        }
    
        #right-section {
          flex: 1;
          padding: 20px;
          text-align: center;
        }
    
        h1, h2 {
          color: rgba(174, 41, 174, 0.8);
        }
    
        p {
          margin-bottom: 10px;
        }
    
        ul {
          list-style-type: none;
          padding: 0;
        }
    
        li {
          margin-bottom: 5px;
        }
    
        img {
          max-width: 100%;
          height: auto;
          border-radius: 50%;
          display: block;
          margin: 0 auto;
        }
    
        #contact-info {
          margin-top: 20px;
          text-align: center;
        }
    
        #contact-info i {
          font-size: 24px;
          margin-right: 5px;
          color: rgba(174, 41, 174, 0.8);
        }
        form {
      max-width: 400px;
      margin: 50px auto;
    }

    input, button {
      margin-bottom: 10px;
    }
    #download-btn {
      cursor: pointer;
      color: white;
      background-color: rgba(174, 41, 174, 0.8);
      text-decoration: none;
      border: 2px solid transparent;
      font-weight: bold;
    
      border-radius: 15px ;
      transition: transform .4s;
      position: relative;
      left: 75%; /* Utiliser 'auto' pour laisser la position horizontale être déterminée par la largeur du bouton */
     width: 15%;
      top: -7%;
      box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    }
      nav
      {
      
          display:flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 45px;
          padding-left: 8%;
          padding-right: 8%;
      }
      nav ul li
      {
      list-style-type: none;
      display: inline-block;
      padding: 10px 15px ;
      }
      nav ul li a
      {
       color:rgba(174, 41, 174, 0.8) ;
       text-decoration:  none;
      text-transform: capitalize;
      
      }
      nav ul li  a:hover
      { color:  #fd04a27e;
      
      }
      
      
      .logo
      {
          color:;
          font-size: 35px;
          letter-spacing: 0.01px;
          cursor: pointer;
          transition: 4s;
      
      }
      span
      {
      color:rgba(174, 41, 174, 0.8);
      text-decoration:  none;
      text-transform: capitalize;
      
      }
      
      </style>

    <script>
      document
        .getElementById("enSavoirPlusBtn")
        .addEventListener("click", function () {
          var aboutSection = document.getElementById("aboutSection");

          // Inverser la visibilité
          if (
            aboutSection.style.display === "none" ||
            aboutSection.style.display === ""
          ) {
            aboutSection.style.display = "block";
          } else {
            aboutSection.style.display = "none";
          }
        });
    </script>
    <script>
      document.getElementById("bouton").addEventListener("click", function () {
        var aboutSection = document.getElementById("CV");

        // Inverser la visibilité
        if (CV.style.display === "none" || CV.style.display === "") {
          CV.style.display = "block";
        } else {
          CV.style.display = "none";
        }
      });
    </script>
  </body>
</html>
